
body {
    background-color: #1A202C !important;
    color: white !important;
    
}

pre {
    margin-top: 15px;
    border: 1px solid #ffffff30;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
}

pre span {
    font-size: 14px;
}

pre span.comment {
    color: #ffffff70;
    margin-bottom: 10px;  
}

pre span.function,
pre span.operator,
pre span.punctuation
{
    color: #61DAFB;
    font-size: 14px;
}

pre span.string {
    color: #61FBDF;
    font-size: 14px;
}

pre span.number,
pre span.type
 {
    color: #EFD26C;
    font-size: 14px;
}

pre span.var {
    color: #EF846C;
    font-size: 14px;
}


pre span.component {
    color: #A998EB;
    font-size: 14px;
}

a {
    text-decoration: none !important;
    width: fit-content;
}